# Dependencies
node_modules/

# Build outputs
www/
*.apk
*.aab

# Android build
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.local

# Logs
*.log
